apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-secret
  namespace: pgadmin
type: Opaque
stringData:
  PGADMIN_DEFAULT_EMAIL: admin@dev.net
  PGADMIN_DEFAULT_PASSWORD: admin
  PGADMIN_DB_PASSWORD: pgadmin123
