apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: kube-system
spec:
  type: NodePort
  ports:
  - name: web
    port: 80
    protocol: TCP
    targetPort: web
    nodePort: 31523
  - name: websecure
    port: 443
    protocol: TCP
    targetPort: websecure
    nodePort: 30490
  selector:
    app.kubernetes.io/name: traefik
