apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: k3s-runner-deployment
  namespace: actions-runner-system
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  replicas: 3
  template:
    spec:
      organization: swipentap
      group: k3s-prod
      labels:
        - k3s
        - k3s-prod
      dockerdWithinRunnerContainer: true
      dockerEnabled: true
      image: summerwind/actions-runner-dind:latest
      resources:
        requests:
          cpu: "250m"
          memory: "256Mi"
        limits:
          cpu: "1"
          memory: "768Mi"
