apiVersion: v1
kind: Secret
metadata:
  name: controller-manager
  namespace: actions-runner-system
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
type: Opaque
stringData:
  github_token: "REPLACE_WITH_TOKEN"
