apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: actions-runner-system/actions-runner-controller-serving-cert
  creationTimestamp: null
  name: actions-runner-controller-validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: actions-runner-controller-webhook
      namespace: actions-runner-system
      path: /validate-actions-summerwind-dev-v1alpha1-runner
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVYRENDQTBTZ0F3SUJBZ0lVQzdkaHY2WkxsSW5kdTJqVnFjQlR1QWNjbXNnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZqRVVNQklHQTFVRUF3d0xZWEpqTFhkbFltaHZiMnN3SGhjTk1qWXdNakF4TWpBME5qRXlXaGNOTWpjdwpNakF4TWpBME5qRXlXakFXTVJRd0VnWURWUVFEREF0aGNtTXRkMlZpYUc5dmF6Q0NBU0l3RFFZSktvWklodmNOCkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFOS1lPVlYyTE5vSk9ibDlTdHRSZUJHYzZDYkhwNXpCMUp0dUdHRXkKN2g1bnpUZG50L0VmNlp5dDZBSW94bmpiZThWQmM0VnRUZWQ5ak9xU3NNZGRTTzU4eEc3RDluc0Y4ZHdnbnNhWQpSL3BTSjVOYTBGdUg1OEdPTnBFSTNOY1VZb2pwbStBNUMvQWp6TndDS002ejd5TGdmQnFCcmFJSXphQzhMQkxLCjhkdDZnSUdkd05YcFVRZlN6MmlHdThLWTRRaW41dzZaMUE2NWQ4ZzY3NTBYbFd6bnkrVTRDMGF4VTUweTV5SloKMHJwV0ZNSUVwWURqRG8vTHRKTWNYa3o2K0ZMdVJVM2ViUWJ4TFBIalQvcjRlUzhMWk5zbGtQV1F0ay9uQ29pMwp0Yk1KV0lBdW9La1N2dStmRFFMcTI4MGxxaHFJaXh1U2pzdC9YUW1WU3ltdElzc0NBd0VBQWFPQ0FhQXdnZ0djCk1Bc0dBMVVkRHdRRUF3SUVNREFUQmdOVkhTVUVEREFLQmdnckJnRUZCUWNEQVRDQ0FWY0dBMVVkRVFTQ0FVNHcKZ2dGS2dpRmhZM1JwYjI1ekxYSjFibTVsY2kxamIyNTBjbTlzYkdWeUxYZGxZbWh2YjJ1Q04yRmpkR2x2Ym5NdApjblZ1Ym1WeUxXTnZiblJ5YjJ4c1pYSXRkMlZpYUc5dmF5NWhZM1JwYjI1ekxYSjFibTVsY2kxemVYTjBaVzJDCk8yRmpkR2x2Ym5NdGNuVnVibVZ5TFdOdmJuUnliMnhzWlhJdGQyVmlhRzl2YXk1aFkzUnBiMjV6TFhKMWJtNWwKY2kxemVYTjBaVzB1YzNaamdpbGhZM1JwYjI1ekxYSjFibTVsY2kxamIyNTBjbTlzYkdWeUxYZGxZbWh2YjJzdApjMlZ5ZG1salpZSS9ZV04wYVc5dWN5MXlkVzV1WlhJdFkyOXVkSEp2Ykd4bGNpMTNaV0pvYjI5ckxYTmxjblpwClkyVXVZV04wYVc5dWN5MXlkVzV1WlhJdGMzbHpkR1Z0Z2tOaFkzUnBiMjV6TFhKMWJtNWxjaTFqYjI1MGNtOXMKYkdWeUxYZGxZbWh2YjJzdGMyVnlkbWxqWlM1aFkzUnBiMjV6TFhKMWJtNWxjaTF6ZVhOMFpXMHVjM1pqTUIwRwpBMVVkRGdRV0JCUTFsQXBINmVpQ3NlbTZpbnVOSmI1S3hVWjlXekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBCksxZVdvTjhSSytLSXlTWUkvU2IrTjhHVEF4eEpFeHRwd1Mxbzk5Q2hieXRiLzJjOWJReUlReTJhTlRkdGlrU3EKLy81cnBrd2FnYzhNWUhVM1E3OGJ1Zko2N2ZwR1NpVk9YY1NpTHZWbnZCWFI5cnNhNWt6b29MZUppRWJhWWl4Vgp2clBWU3A0czQ0MTBvZEkzMUNtWFErTHV3NFEwNDlmOTFSZnB6Z2JRdUxJbHZGTDdhdmNxd2xmQm91b044cnEyCktMNmljOHpuOXk1N0RGNUNtU3FqRktna21QRFZOUkhFVWY2M3cvTktWMXpLZGJwb084andRTVdVVm1GRzZZcmEKaHN1MFFQbGRTYjF1Mlg4c3NudW50M3QwcDhtYlg1RG5USGdjeVhBRkZuTnhzN2YwdWpFcVk3QVZqVkNqbW8rRQpENFVzMVZJK3FWdUpFMU15UzFWVlZBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  failurePolicy: Fail
  name: validate.runner.actions.summerwind.dev
  rules:
  - apiGroups:
    - actions.summerwind.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - runners
  sideEffects: None
  timeoutSeconds: 10
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: actions-runner-controller-webhook
      namespace: actions-runner-system
      path: /validate-actions-summerwind-dev-v1alpha1-runnerdeployment
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVYRENDQTBTZ0F3SUJBZ0lVQzdkaHY2WkxsSW5kdTJqVnFjQlR1QWNjbXNnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZqRVVNQklHQTFVRUF3d0xZWEpqTFhkbFltaHZiMnN3SGhjTk1qWXdNakF4TWpBME5qRXlXaGNOTWpjdwpNakF4TWpBME5qRXlXakFXTVJRd0VnWURWUVFEREF0aGNtTXRkMlZpYUc5dmF6Q0NBU0l3RFFZSktvWklodmNOCkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFOS1lPVlYyTE5vSk9ibDlTdHRSZUJHYzZDYkhwNXpCMUp0dUdHRXkKN2g1bnpUZG50L0VmNlp5dDZBSW94bmpiZThWQmM0VnRUZWQ5ak9xU3NNZGRTTzU4eEc3RDluc0Y4ZHdnbnNhWQpSL3BTSjVOYTBGdUg1OEdPTnBFSTNOY1VZb2pwbStBNUMvQWp6TndDS002ejd5TGdmQnFCcmFJSXphQzhMQkxLCjhkdDZnSUdkd05YcFVRZlN6MmlHdThLWTRRaW41dzZaMUE2NWQ4ZzY3NTBYbFd6bnkrVTRDMGF4VTUweTV5SloKMHJwV0ZNSUVwWURqRG8vTHRKTWNYa3o2K0ZMdVJVM2ViUWJ4TFBIalQvcjRlUzhMWk5zbGtQV1F0ay9uQ29pMwp0Yk1KV0lBdW9La1N2dStmRFFMcTI4MGxxaHFJaXh1U2pzdC9YUW1WU3ltdElzc0NBd0VBQWFPQ0FhQXdnZ0djCk1Bc0dBMVVkRHdRRUF3SUVNREFUQmdOVkhTVUVEREFLQmdnckJnRUZCUWNEQVRDQ0FWY0dBMVVkRVFTQ0FVNHcKZ2dGS2dpRmhZM1JwYjI1ekxYSjFibTVsY2kxamIyNTBjbTlzYkdWeUxYZGxZbWh2YjJ1Q04yRmpkR2x2Ym5NdApjblZ1Ym1WeUxXTnZiblJ5YjJ4c1pYSXRkMlZpYUc5dmF5NWhZM1JwYjI1ekxYSjFibTVsY2kxemVYTjBaVzJDCk8yRmpkR2x2Ym5NdGNuVnVibVZ5TFdOdmJuUnliMnhzWlhJdGQyVmlhRzl2YXk1aFkzUnBiMjV6TFhKMWJtNWwKY2kxemVYTjBaVzB1YzNaamdpbGhZM1JwYjI1ekxYSjFibTVsY2kxamIyNTBjbTlzYkdWeUxYZGxZbWh2YjJzdApjMlZ5ZG1salpZSS9ZV04wYVc5dWN5MXlkVzV1WlhJdFkyOXVkSEp2Ykd4bGNpMTNaV0pvYjI5ckxYTmxjblpwClkyVXVZV04wYVc5dWN5MXlkVzV1WlhJdGMzbHpkR1Z0Z2tOaFkzUnBiMjV6TFhKMWJtNWxjaTFqYjI1MGNtOXMKYkdWeUxYZGxZbWh2YjJzdGMyVnlkbWxqWlM1aFkzUnBiMjV6TFhKMWJtNWxjaTF6ZVhOMFpXMHVjM1pqTUIwRwpBMVVkRGdRV0JCUTFsQXBINmVpQ3NlbTZpbnVOSmI1S3hVWjlXekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBCksxZVdvTjhSSytLSXlTWUkvU2IrTjhHVEF4eEpFeHRwd1Mxbzk5Q2hieXRiLzJjOWJReUlReTJhTlRkdGlrU3EKLy81cnBrd2FnYzhNWUhVM1E3OGJ1Zko2N2ZwR1NpVk9YY1NpTHZWbnZCWFI5cnNhNWt6b29MZUppRWJhWWl4Vgp2clBWU3A0czQ0MTBvZEkzMUNtWFErTHV3NFEwNDlmOTFSZnB6Z2JRdUxJbHZGTDdhdmNxd2xmQm91b044cnEyCktMNmljOHpuOXk1N0RGNUNtU3FqRktna21QRFZOUkhFVWY2M3cvTktWMXpLZGJwb084andRTVdVVm1GRzZZcmEKaHN1MFFQbGRTYjF1Mlg4c3NudW50M3QwcDhtYlg1RG5USGdjeVhBRkZuTnhzN2YwdWpFcVk3QVZqVkNqbW8rRQpENFVzMVZJK3FWdUpFMU15UzFWVlZBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  failurePolicy: Fail
  name: validate.runnerdeployment.actions.summerwind.dev
  rules:
  - apiGroups:
    - actions.summerwind.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - runnerdeployments
  sideEffects: None
  timeoutSeconds: 10
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: actions-runner-controller-webhook
      namespace: actions-runner-system
      path: /validate-actions-summerwind-dev-v1alpha1-runnerreplicaset
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVYRENDQTBTZ0F3SUJBZ0lVQzdkaHY2WkxsSW5kdTJqVnFjQlR1QWNjbXNnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZqRVVNQklHQTFVRUF3d0xZWEpqTFhkbFltaHZiMnN3SGhjTk1qWXdNakF4TWpBME5qRXlXaGNOTWpjdwpNakF4TWpBME5qRXlXakFXTVJRd0VnWURWUVFEREF0aGNtTXRkMlZpYUc5dmF6Q0NBU0l3RFFZSktvWklodmNOCkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFOS1lPVlYyTE5vSk9ibDlTdHRSZUJHYzZDYkhwNXpCMUp0dUdHRXkKN2g1bnpUZG50L0VmNlp5dDZBSW94bmpiZThWQmM0VnRUZWQ5ak9xU3NNZGRTTzU4eEc3RDluc0Y4ZHdnbnNhWQpSL3BTSjVOYTBGdUg1OEdPTnBFSTNOY1VZb2pwbStBNUMvQWp6TndDS002ejd5TGdmQnFCcmFJSXphQzhMQkxLCjhkdDZnSUdkd05YcFVRZlN6MmlHdThLWTRRaW41dzZaMUE2NWQ4ZzY3NTBYbFd6bnkrVTRDMGF4VTUweTV5SloKMHJwV0ZNSUVwWURqRG8vTHRKTWNYa3o2K0ZMdVJVM2ViUWJ4TFBIalQvcjRlUzhMWk5zbGtQV1F0ay9uQ29pMwp0Yk1KV0lBdW9La1N2dStmRFFMcTI4MGxxaHFJaXh1U2pzdC9YUW1WU3ltdElzc0NBd0VBQWFPQ0FhQXdnZ0djCk1Bc0dBMVVkRHdRRUF3SUVNREFUQmdOVkhTVUVEREFLQmdnckJnRUZCUWNEQVRDQ0FWY0dBMVVkRVFTQ0FVNHcKZ2dGS2dpRmhZM1JwYjI1ekxYSjFibTVsY2kxamIyNTBjbTlzYkdWeUxYZGxZbWh2YjJ1Q04yRmpkR2x2Ym5NdApjblZ1Ym1WeUxXTnZiblJ5YjJ4c1pYSXRkMlZpYUc5dmF5NWhZM1JwYjI1ekxYSjFibTVsY2kxemVYTjBaVzJDCk8yRmpkR2x2Ym5NdGNuVnVibVZ5TFdOdmJuUnliMnhzWlhJdGQyVmlhRzl2YXk1aFkzUnBiMjV6TFhKMWJtNWwKY2kxemVYTjBaVzB1YzNaamdpbGhZM1JwYjI1ekxYSjFibTVsY2kxamIyNTBjbTlzYkdWeUxYZGxZbWh2YjJzdApjMlZ5ZG1salpZSS9ZV04wYVc5dWN5MXlkVzV1WlhJdFkyOXVkSEp2Ykd4bGNpMTNaV0pvYjI5ckxYTmxjblpwClkyVXVZV04wYVc5dWN5MXlkVzV1WlhJdGMzbHpkR1Z0Z2tOaFkzUnBiMjV6TFhKMWJtNWxjaTFqYjI1MGNtOXMKYkdWeUxYZGxZbWh2YjJzdGMyVnlkbWxqWlM1aFkzUnBiMjV6TFhKMWJtNWxjaTF6ZVhOMFpXMHVjM1pqTUIwRwpBMVVkRGdRV0JCUTFsQXBINmVpQ3NlbTZpbnVOSmI1S3hVWjlXekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBCksxZVdvTjhSSytLSXlTWUkvU2IrTjhHVEF4eEpFeHRwd1Mxbzk5Q2hieXRiLzJjOWJReUlReTJhTlRkdGlrU3EKLy81cnBrd2FnYzhNWUhVM1E3OGJ1Zko2N2ZwR1NpVk9YY1NpTHZWbnZCWFI5cnNhNWt6b29MZUppRWJhWWl4Vgp2clBWU3A0czQ0MTBvZEkzMUNtWFErTHV3NFEwNDlmOTFSZnB6Z2JRdUxJbHZGTDdhdmNxd2xmQm91b044cnEyCktMNmljOHpuOXk1N0RGNUNtU3FqRktna21QRFZOUkhFVWY2M3cvTktWMXpLZGJwb084andRTVdVVm1GRzZZcmEKaHN1MFFQbGRTYjF1Mlg4c3NudW50M3QwcDhtYlg1RG5USGdjeVhBRkZuTnhzN2YwdWpFcVk3QVZqVkNqbW8rRQpENFVzMVZJK3FWdUpFMU15UzFWVlZBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  failurePolicy: Fail
  name: validate.runnerreplicaset.actions.summerwind.dev
  rules:
  - apiGroups:
    - actions.summerwind.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - runnerreplicasets
  sideEffects: None
