apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgresql
  namespace: postgresql
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  instances: 3
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "256MB"
      effective_cache_size: "1GB"
      maintenance_work_mem: "64MB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "16MB"
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      work_mem: "4MB"
      min_wal_size: "1GB"
      max_wal_size: "4GB"
  storage:
    size: 20Gi
    storageClass: local-path
  resources:
    requests:
      memory: "256Mi"
      cpu: 250m
    limits:
      memory: "1Gi"
      cpu: "1"
  enableSuperuserAccess: true
  superuserSecret:
    name: postgresql-credentials
  bootstrap:
    initdb:
      database: postgres
      owner: postgres
      secret:
        name: postgresql-credentials
      dataChecksums: true
      encoding: "UTF8"
      localeCType: "C"
      localeCollate: "C"
