apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
  namespace: postgresql
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
type: kubernetes.io/basic-auth
stringData:
  username: postgres
  password: postgres123
